<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ninayom</title>
	<link rel="shortcut icon" type="image/ico" href="img/logo.png">
	<link rel="stylesheet" href="css/bootstrap.min.css">	
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/cartodb.css" />
	<link rel="stylesheet" href="css/nina.css" />

	<!-- link template web -->
	
	 <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
   
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="css2/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css2/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css2/style.css">
    <link rel="stylesheet" type="text/css" href="css2/responsive.css">

    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

   
	<!--fin link template web -->
</head>
<body>
 	

    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
	<script type="text/javascript" src="js/parse-1.6.7.min.js"></script>
	<script type="text/javascript" src="js/backbones-1.2.3.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="js/cartodb.js"></script>
	<script src="js/toGeoJSON.js"></script>
	<script src="js/jquery-layout.1.4.js"></script>
	<script src="js/redimensiona.js"></script>
	<script src="js/slidereveal.js"></script>
	
<div  id="main_container">	
	<%- body %>	
</div>
 


	<!-- TEMPLATE WEB -->

	<!-- fin TEMPLATE WEB -->

	
	<% if (Parse.User.current()) { %>


     
  
      <!-- <script type="text/javascript" src="js/terrain.js"></script>-->
    
   <% } %>
  

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
   
    <!--  <script type="text/javascript" src="js2/SmoothScroll.js"></script>-->
    <script type="text/javascript" src="js2/jquery.isotope.js"></script>
    <script src="js2/owl.carousel.js"></script>
    <script type="text/javascript" src="js2/main.js"></script>
   

    

	
</body>
</html>