
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top nina-navbar">
      <div class="nina-container">
       
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NinaMap</a>
        </div>

        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         
            
            <ul class="nav navbar-nav ">
            <li><a id="btn_graficos" class="active">Gráficos</a></li>
            <li><a href="#precios">Precios</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#cotacto">Contacto</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
         
        
            <ul class="nav navbar-nav navbar-right dropdown nina-navbar-right">
                 <a href="#" class="dropdown-toggle  btn btn-default navbar-btn" data-toggle="dropdown" >  <span id="user" class="glyphicon glyphicon-user nina-glyph" >
                        <%= Parse.User.current().get('username') %></span><span class="caret"></span></a>
            
        
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Mi perfil</a></li>
                <li><a href="#">Panel de Control</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                
                   <li><a href="/logOut" id="btn_salir" data-action="post">Cerrar Sesión</a></li>
                 
              
              </ul>
            
          </ul>
          
        </div>
      </div>
</nav>

   <div id="container">
     
    <div id="mapa"> 
    </div>
     <div id="panel_graficos" > </div>
   </div>

   
    
    <!--  <div class="ui-layout-center">
     
     </div>

    
    <div class="ui-layout-east">East</div>
    <div class="ui-layout-west">West</div>   -->   
          
         
 
        
 
  

	<script type="text/javascript">
 
   
   new App.Views.MapView({});
      // $('#panel_graficos').slideReveal({trigger: $("#btn_graficos"),position:"right", width:"500"})

        

         
	</script>