
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top nina-navbar">
      <div class="nina-container">
       
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NinaMap</a>
        </div>

        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         
            
           <!--  <ul class="nav navbar-nav ">
            <li><a id="btn_graficos" class="active">Gráficos</a></li>
            <li><a href="#precios">Precios</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#cotacto">Contacto</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul> -->
         
        
            <ul class="nav navbar-nav navbar-right dropdown nina-navbar-right">
                 <a href="#" class="dropdown-toggle  btn btn-default navbar-btn" data-toggle="dropdown" >  <span id="user" class="glyphicon glyphicon-user nina-glyph" >
                        <%= Parse.User.current().get('username') %></span><span class="caret"></span></a>
            
        
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Mi perfil</a></li>
                <li><a href="#">Panel de Control</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                
                   <li><a href="/logOut" id="btn_salir" data-action="post">Cerrar Sesión</a></li>
                 
              
              </ul>
            
          </ul>
          
        </div>
      </div>
</nav>


<div id="container">
     
  
 

    <div class="panel panel-default nina-panel">
    <button id="closeLeft" type="button" class="nina-close" style="display: block;"><i class="glyphicon glyphicon-remove"></i></button>
      <div class="panel-heading">
        <h8 class="panel-title">Panel title</h8>
        
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
    <div id="mapa"> 
         <div class="overlay-super map-buttons darkglass" style="opacity: 1; display: block; height: 105px;">
            <div class="cpanel3" >
                <div title="Puntos de Venta" id="quickview-btn-bg" class="btn-bg">
                    <button class="btn btn-mini btn-kilo btn-xs" id="toggleQuickview"><i id="toggleQuickviewIcon" class="glyphicon glyphicon-shopping-cart"></i></button>
                </div>
                <div title="Advanced map search" id="filters-btn-bg" class="btn-bg">
                    <button class="btn btn-mini btn-kilo" id="toggleFilters"><i id="toggleFiltersIcon" class="icon-zoom-in icon-white"></i></button>
                </div>
            </div>
            <div class="cpanel6" style="display: block;">
                <div title="Street View" id="sview-btn-bg" class="btn-bg">
                    <button class="btn btn-mini btn-kilo" id="toggleStreetview"><i id="toggleStreetviewIcon" class="icon-camera icon-white"></i></button>
                </div>
                <div title="Estimate travel" id="travel-btn-bg" class="btn-bg">
                    <button class="btn btn-mini btn-kilo" id="toggleDirections"><i id="toggleDirectionsIcon" class="icon-time icon-white"></i></button>
                </div>
            </div>
          </div>
    </div>
  </div>
    <!-- botones -->



    <!--  <div id="panel_graficos" >
     <ul class="nav nav-tabs" style="padding-top:50px">
        <li role="presentation" class="active"><a href="#">Home</a>

       

        </li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>
        
      
      </div> -->
   </div>

   
    
    <!--  <div class="ui-layout-center">
     
     </div>

    
    <div class="ui-layout-east">East</div>
    <div class="ui-layout-west">West</div>   -->   
          
         
 
        
 
  

	<script type="text/javascript">
 
   
   new App.Views.MapView({});
      // $('#panel_graficos').slideReveal({trigger: $("#btn_graficos"),position:"right", width:"500"})

        

         
	</script>