
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top nina-navbar" id="nav_bar">
      <div class="nina-container">
       
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">NinaMap</a>
        </div>

        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         
            
            <ul class="nav navbar-nav ">
            <li><div class="nina-search-box ">

                 <input autocomplete="off" id="input_geocodifica"  type="text" placeholder="Buscador de direcciones" class="nina-input-address">
                  <button id="btn_Search" class="btn btn-sm nina-btn-search">
                  <i id="btn_search" class="glyphicon glyphicon-search"></i></button>
                </div>
            </li>
           <!--  <li><a href="#precios">Precios</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#cotacto">Contacto</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
         
              
            <ul class="nav navbar-nav navbar-right dropdown nina-navbar-right">
                 <a href="#" class="dropdown-toggle  btn btn-default btn-sm navbar-btn" data-toggle="dropdown" >  <span id="user" class="glyphicon glyphicon-user nina-glyph" >
                        <%= Parse.User.current().get('username') %></span><span class="caret"></span></a>
            
        
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Mi perfil</a></li>
                <li><a href="#">Panel de Control</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                
                   <li><a href="/logOut" id="btn_salir" data-action="post">Cerrar Sesión</a></li>
                 
              
              </ul>
            
          </ul>
          
        </div>
      </div>
</nav>



     
  <!-- <div id="panel_pv" class="nina-panel"></div> -->
 
  <div class="panel panel-default nina-panel  nina-visible" id="panel_pv">
    <button id="closeLeft" type="button" class="nina-close" style="display: block;"><i class="glyphicon glyphicon-remove icon-white"></i></button>
      <div class="panel-heading nina-panel-heading">
        <h8 class="panel-title">Puntos de Venta</h8>
        
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
    

    <div class="overlay-super map-buttons darkglass" id="MapTool" style="opacity: 1; display: block; height: 105px;">
            <div class="cpanel3" >
                <div title="Puntos de Venta" class="btn-bg" id="btn_pv" >
                    <button class="btn btn-mini btn-kilo btn-xs" ><i id="toggleQuickviewIcon" class="glyphicon glyphicon-shopping-cart "></i></button>
                </div>
                <div title="Advanced map search" id="filters-btn-bg" class="btn-bg">
                    <button class="btn btn-mini btn-kilo" id="toggleFilters"><i id="toggleFiltersIcon" class="icon-zoom-in icon-white"></i></button>
                </div>
            </div>
           
          </div>
    <div id="mapa"> 
         
    </div>

    <!-- botones -->



    <!--  <div id="panel_graficos" >
     <ul class="nav nav-tabs" style="padding-top:50px">
        <li role="presentation" class="active"><a href="#">Home</a>

       

        </li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>
        
      
      </div> -->
   </div>

   
    
    <!--  <div class="ui-layout-center">
     
     </div>

    
    <div class="ui-layout-east">East</div>
    <div class="ui-layout-west">West</div>   -->   
          
         
 
        
 <script src="js/nina.js"></script>


  

	<script type="text/javascript">
 
   
   new App.Views.MapView({});
   new App.Views.PanelPvView({});
   new App.Views.MapTool({});
   new App.Views.NavBarView({});
 // $( document ).ready(function() {
 //  // Handler for .ready() called.
  
 //    if (Parse.User.current()) {
 //       //the page loads
 //       alert("user")
 //    } else {
 //       //redirect user to the login page
 //      // window.location = '/map';
     
 //    }
 //  });
  
      // $('#panel_graficos').slideReveal({trigger: $("#btn_graficos"),position:"right", width:"500"})

        

         
	</script>