
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top nina-navbar" id="nav_bar">
      <div class="nina-navbar-container">
       
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">NinaMap</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 ">
          <ul class="nav navbar-nav nina-navbar-middle">
            <li><a id="btn_mapa" > MAPA</a></li>
            <li><a id="btn_pc" >PANEL DE CONTROL</a></li>
            <li><a id="btn_informes" >INFORMES</a></li>
        
              
          </ul>
          <ul class="nav navbar-nav navbar-right dropdown nina-navbar-right">
                 <a href="#" class="dropdown-toggle  btn btn-default btn-sm navbar-btn" data-toggle="dropdown" > 
                        <span id="user" class="glyphicon glyphicon-user nina-glyph" > </span>
                        <span > <%= Parse.User.current().get('username') %></span>
                        <span class="caret"></span>
                 </a>
            
        
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Mi perfil</a></li>
                <li><a href="#">Panel de Control</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                
                   <li><a href="/logOut" id="btn_salir" data-action="post">Cerrar Sesión</a></li>
                 
              
              </ul>
            
          </ul>
        </div>
        
        
      </div>
</nav>


 

 
 
<div id="mapa_container" class="nina-container"> 
      <div class="panel panel-default nina-panel  nina-visible" id="panel_pv">
      <button id="closeLeft" type="button" class="nina-close" style="display: block;"><i class="glyphicon glyphicon-remove icon-white"></i></button>
        <div class="panel-heading nina-panel-heading">
          <h8 class="panel-title">Puntos de Venta</h8>
          
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>

     <div class="nina-search-box ">

                   <input autocomplete="off" id="input_geocodifica"  type="text" placeholder="Buscador de direcciones" class="nina-input-address">
                    <button id="btn_Search" class="btn btn-sm nina-btn-search">
                    <i id="btn_search" class="glyphicon glyphicon-search"></i></button>
      </div>
      <div class="overlay-super map-buttons darkglass" id="MapTool" style="opacity: 1; display: block; height: 105px;">
              <div class="cpanel3" >
                  <div title="Puntos de Venta" class="btn-bg" id="btn_pv" >
                      <button class="btn btn-mini btn-kilo btn-xs" ><i id="toggleQuickviewIcon" class="glyphicon glyphicon-shopping-cart "></i></button>
                  </div>
                  <div title="Advanced map search" id="filters-btn-bg" class="btn-bg">
                      <button class="btn btn-mini btn-kilo" id="toggleFilters"><i id="toggleFiltersIcon" class="icon-zoom-in icon-white"></i></button>
                  </div>
              </div>
             
      </div>
      <div id="mapa">
        
      </div>
</div>

<div id="informes_container" class="nina-container"> 
       
</div>
<div id="pc_container" class="nina-container"> 

    <div id="nav_pc">
                  <div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel1">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseOne" 
           href="#collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>

        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
        </div>
    </div>
    <div class="panel panel-default" id="panel2">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseTwo" 
           href="#collapseTwo" class="collapsed">
          Collapsible Group Item #2
        </a>
      </h4>

        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
        </div>
    </div>
    <div class="panel panel-default" id="panel3">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseThree"
           href="#collapseThree" class="collapsed">
          Collapsible Group Item #3
        </a>
      </h4>

        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
        </div>
    </div>
</div>
    </div>

    <div id="table_container">
      <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
    </table>
    </div>
</div>


    
          
         
 
        
 <script src="js/nina.js"></script>


  

	<script type="text/javascript">
 
  Parse.User.become("<%= token%>").then(function (user) {
      
    }, function (error) {
      // The token could not be validated.
  }); 
  $("#btn_mapa").addClass("nina-active");
   $("#mapa_container").css("display","block");
     App.map.invalidateSize();
  
  
 // $( document ).ready(function() {
 //  // Handler for .ready() called.
  
 //    if (Parse.User.current()) {
 //       //the page loads
 //       alert("user")
 //    } else {
 //       //redirect user to the login page
 //      // window.location = '/map';
     
 //    }
 //  });
  
      // $('#panel_graficos').slideReveal({trigger: $("#btn_graficos"),position:"right", width:"500"})

        

         
	</script>