
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top nina-navbar">
      <div class="nina-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NinaMap</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         
            
           
         
        
            <ul class="nav navbar-nav navbar-right dropdown nina-navbar-right">
                 <a href="#" class="dropdown-toggle  btn btn-default navbar-btn" data-toggle="dropdown" >  <span id="user" class="glyphicon glyphicon-user nina-glyph" >
                        <%= Parse.User.current().get('username') %></span><span class="caret"></span></a>
            
        
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Mi perfil</a></li>
                <li><a href="#">Panel de Control</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                
                   <li><a href="/logOut" id="btn_salir" data-action="post">Cerrar Sesión</a></li>
                 
              
              </ul>
            
          </ul>
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->

    </nav>

          
          
         
   <div  class="ui-layout-center" >
    <div id="mapa"> 
    </div>
  </div>
  
  <div class="ui-layout-east ui-layout-pane ui-layout-pane-east ui-layout-pane-hover ui-layout-pane-east-hover ui-layout-pane-open-hover ui-layout-pane-east-open-hover">
  This is the east pane, closable, slidable and resizable

 
  </div>    
        
 
  

	<script type="text/javascript">
   $("body").layout({ applyDemoStyles: true });

// read layout 'options'
 //myLayout.options.east.resizable=true;
 
  $(".ui-layout-center").addClass("nina-layout-center");
	 new App.Views.MapView({});
   // var myLayout;

 
   //  myLayout = $('body').layout({

   //  //  reference only - these options are NOT required because 'true' is the default
   //    closable:         true  // pane can open & close
   //  , resizable:          true  // when open, pane can be resized 
   //  , slidable:         true  // when closed, pane can 'slide' open over other panes - closes on mouse-out
   //  , livePaneResizing:     true

   //  //  some resizing/toggling settings
   //  , north__slidable:      false // OVERRIDE the pane-default of 'slidable=true'
   //  , north__togglerLength_closed: '100%' // toggle-button is full-width of resizer-bar
   //  , north__spacing_closed:    20    // big resizer-bar when open (zero height)
   //  , south__resizable:     false // OVERRIDE the pane-default of 'resizable=true'
   //  , south__spacing_open:    0   // no resizer-bar when open (zero height)
   //  , south__spacing_closed:    20    // big resizer-bar when open (zero height)

   //  //  some pane-size settings
   //  , west__minSize:        100
   //  , east__size:         300
   //  , east__minSize:        200
   //  , east__maxSize:        .5 // 50% of layout width
   //  , center__minWidth:     100

   //  //  some pane animation settings
   //  , west__animatePaneSizing:  false
   //  , west__fxSpeed_size:     "fast"  // 'fast' animation when resizing west-pane
   //  , west__fxSpeed_open:     1000  // 1-second animation when opening west-pane
   //  , west__fxSettings_open:    { easing: "easeOutBounce" } // 'bounce' effect when opening
   //  , west__fxName_close:     "none"  // NO animation when closing west-pane

   //  //  enable showOverflow on west-pane so CSS popups will overlap north pane
   //  , west__showOverflowOnHover:  true

   //  //  enable state management
   //  , stateManagement__enabled: true // automatic cookie load & save enabled by default

   //  , showDebugMessages:      true // log and/or display messages from debugging & testing code
   //  })


         
	</script>