
 <nav class="navbar navbar-default navbar-inverse nina-navbar" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="">Ninayom</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav ">
            <li><a  href="#caracteristicas" class="active">Características</a></li>
            <li><a href="Precios">Precios</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#cotacto">Contacto</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          
          
          
          <div class="navbar-right " >
           
           
               <a href="#" class="dropdown-toggle btn btn-default navbar-btn" data-toggle="dropdown"><span id="user" class="glyphicon glyphicon-user nina-glyph" >

                <%= Parse.User.current().get('username') %></span>
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Mi perfil</a></li>
                <li><a href="#">Panel de Control</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                
                   <li><a href="/logOut" id="btn_salir" data-action="post">Cerrar Sesión</a></li>
                 
              
              </ul>
             
             
            
          </div>
         
          
        
  </nav>
  
  <div id="mapa" />
	<script type="text/javascript">
	        new App.Views.MapView({});
	</script>