body {
  position: absolute !important;
  
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
}


#mapa{
	
float:left;
    display:inline-block;
 width: 50%;
 height:100%;

}
#panel_graficos{
	float:left;
    display:inline-block;
	width: 50%;
 height:100%;
 background-color: red
}
#container{

 width: 100%;
 height:100%;

}
.nina-navbar{
  

  margin-bottom: 0px;
  background-image: none;
  box-shadow:none;
  

}
.nina-container{
	width: 100%;
}

.nina-navbar-right{
	padding-right: 35px;
}
.nina-layout-center{
	 padding: 0px !important;
	  border: 0px solid rgb(187, 187, 187) !important;
	   right: 0px !important;
	     height: 100% !important;
    width: 100% !important;

	  /*  position: absolute;
    margin: 0px;
    left: 0px;
   
    top: 0px;
    bottom: 0px;
  
    z-index: 0;
   
   */
   /* overflow: auto;
    display: block;
    visibility: visible;
    background: rgb(255, 255, 255);*/
}
}