body {
  position: absolute;
  
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
}


#mapa{
 
 width: 100%;
 height: 100%;

}

.nina-navbar{
  

  margin-bottom: 0px;
  background-image: none;
  box-shadow:none;
  

}
.nina-container{
	width: 100%;
}

.nina-navbar-right{
	padding-right: 35px;
}
.nina-layout-center{
	    position: absolute;
    margin: 0px;
    left: 0px;
    right: 0px !important;
    top: 0px;
    bottom: 0px;
    height: 100% !important;
    width: 100% !important;
    z-index: 0;
    padding: 0px !important;
    border: 1px solid rgb(187, 187, 187);
    overflow: auto;
    display: block;
    visibility: visible;
    background: rgb(255, 255, 255);
}
}