body {
  position: absolute;
  
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
}


#mapa{
 
 width: 100%;
 height: 100%;

}

.nina-navbar{
  

  margin-bottom: 0px;
  background-image: none;
  

}
.nina-container{
	width: 100%;
}

.nina-navbar-right{
	padding-right: 35px;
}